<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
{% extends 'base.html' %}
{% load static%}
{% block content %}
<body>
    <div class="container">
    <ul class="nav mt-5 text-dark justify-content-center nav-tabs">
        {% if cte == 'math' %}
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'pages' id 'math' sub %}">Maths</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'pages' id 'pc' sub %}">Physique-Chimie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'pages' id 'si' sub %}">SI</a>
          </li>
        {% elif cte == 'pc' %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'pages' id 'math' sub %}">Maths</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark active" href="{% url 'pages' id 'pc' sub %}">Physique-Chimie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'pages' id 'si' sub %}">SI</a>
          </li>
        {% elif cte == 'si' %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'pages' id 'math' sub %}">Maths</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'pages' id 'pc' sub %}">Physique-Chimie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark active" href="{% url 'pages' id 'si' sub %}">SI</a>
          </li>
        {% endif %}
        
          <section id="cours" class="mt-5">

          
        <div class="container">
        {% for category in categories %}
        <div class="row text-center">
        {% for c in all %}
            {% if c.category == category %}
                
                <div class="col-lg-3 col-md-6 col-sm-9">
                    <div style="overflow: hidden;" class="card bg-white text-light mb-3 shadow">
                        <div class="h1 mt-3">
                            
                            <a href="#" class="card-l text-decoration-none">
                                
                                <img src="{{ c.image1.url }}" alt="" class="card-img img-fluid">
                                
                            </a>
                            <div class="card-body">
                                
                                <a href="#" class="text-decoration-none"><h6 class="card-text-body text-nowrap fw-bold" style="overflow:hidden;">{{c.name}}</h6></a>
                                <a href="{% url 'cours_details' c.id sub %}" style="border-radius: 3em;" class="btn btn-success text-light fw-bold">CONSULTER</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                {% endif %}
            {% endfor %}
              </div>
        {% endfor %}
    </div>
  </section>
        {% comment %} <li class="nav-item">
          <a class="nav-link active" href="#">Maths</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Physique-Chimie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">SI</a>
        </li> {% endcomment %}
        
      </ul>

    </div>
    
</body>
{% endblock content %}
</html>