{% load static %}

<div style="" class="navbar navbar-expand-lg bg-white navbar-light text-dark fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand"><img class="" height="50" src="{% static 'images/back.png' %}" alt=""></a>
        <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
            
        </button>
        <div style="" class="collapse navbar-collapse" id="menu">
            <div class="navbar-nav ms-auto">
                <li class="nav-item"><a href="/" class="nav-link">ACCUEIL</a></li>
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      COURS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'cours' %}">MPSI</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'cours' %}">MP</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'cours' %}">MP*</a>
                      
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      EXERCICES
                    </a>
                    <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'exos' %}">MPSI</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'exos' %}">MP</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'exos' %}">MP*</a>
                      
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      PROBLÈMES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'probs' %}">MPSI</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'probs' %}">MP</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'probs' %}">MP*</a>
                      
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      COLLES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'colles' %}">MPSI</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'colles' %}">MP</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'colles' %}">MP*</a>
                      
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'ds' %}">MPSI</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'ds' %}">MP</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'ds' %}">MP*</a>
                      
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DM-DL
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'dmdl' %}">MPSI</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'dmdl' %}">MP</a>
                      <a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'dmdl' %}">MP*</a>
                      
                    </div>

                  </li> {% endcomment %}
                  {% if logged == True %}
                    <li class="dropdown nav-item">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RÉSUMÉS
                      </a>
                      <ul style="margin-top:-6px;" class="dropdown-submenu bg-white text-left border dropdown-menu nav-link" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'cours' %}">MPSI</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'cours' %}">MP</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'cours' %}">MP*</a></li>
                        
                      </ul>
                    </li>

                    <li class="dropdown nav-item">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        EXERCICES
                      </a>
                      <ul style="margin-top:-6px;" class="dropdown-submenu bg-white text-left border dropdown-menu nav-link" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"> <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'exos' %}">MPSI</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'exos' %}">MP</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'exos' %}">MP*</a></li>
                        
                      </ul>
                    </li>

                    <li class="dropdown nav-item">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PROBLÈMES
                      </a>
                      <ul style="margin-top:-6px;" class="dropdown-submenu bg-white text-left border dropdown-menu nav-link" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"> <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'probs' %}">MPSI</a> </li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'probs' %}">MP</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'probs' %}">MP*</a></li>
                        
                      </ul>
                    </li>

                    {% comment %} <li class="dropdown nav-item">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CONCOURS
                      </a>
                      <ul style="margin-top:-6px;" class="dropdown-submenu bg-white text-left border dropdown-menu nav-link" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"> <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'cnc' %}">MPSI</a> </li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'cnc' %}">MP</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'cnc' %}">MP*</a></li>
                        
                      </ul> {% endcomment %}
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'pages' 'mp' 'math' 'cnc' %}">CONCOURS</a>
                    </li>
                    {% comment %} <li class="dropdown nav-item">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DM-DL
                      </a>
                      <ul style="margin-top:-6px;" class="dropdown-submenu bg-white text-left border dropdown-menu nav-link" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item"> <a class="dropdown-item" href="{% url 'pages' 'mpsi' 'math' 'dmdl' %}">MPSI</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp' 'math' 'dmdl' %}">MP</a></li>
                        <li class="dropdown-item"><a class="dropdown-item" href="{% url 'pages' 'mp*' 'math' 'dmdl' %}">MP*</a></li>
                        
                      </ul>
                    </li> {% endcomment %}

                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/account">Profile <i class="bi bi-person-circle fw-5"></i></a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">SE CONNECTER <i class="bi bi-person-circle fw-5"></i></a>
                    </li>
                  {% endif %}
                
                
            </div>
        </div>
    </div>
</div>
